<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= pet.name %></h2>
      <img class="img-fluid" src="<%= pet.image%>" />
      <div class="row justify-content-between">
      </div>
    </div>
    <div class="col-3 mt-5">
      <span><%= pet.name %> is a <%= pet.color %> <%= pet.animal %>.</span>
    </div>
    <div class="center">
      <form action="/pet/deletePet/<%=pet._id%>?_method=DELETE" method="POST">
      <button type="submit">Remove Pet Profile</button>
      </form>
    </div>
    <div class="center down">
      <a class="btn btn-primary" href="/profile">Back to All Pets</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>