<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="text-center">
      <h2 class="center"><%= pet.name %></h2>
      <img class="mx-auto" src="<%= pet.image%>" />
    </div>
    <div class="text-center my-5">
      <span><%= pet.name %> is a <%= pet.size %> <%= pet.color %> <%= pet.animal %>.</span>
    </div>
  <!-- </div>
  <section class="col-6">
    <h3>Vaccine Records</h3>
    

  </section> -->
    <div class="center">
      <form action="/pet/deletePet/<%=pet._id%>?_method=DELETE" method="POST">
      <button type="submit">Remove Pet Profile</button>
      </form>
    </div>
    <div class="center down">
      <a class="btn btn-primary" href="/profile">Back to All Pets</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>