<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5" >
      <div class="col-4">
          <div class="login d-flex flex-column mt-3 justify-content-center p-1">
              <p>Name: <%= user.userName %></p>
              <p>Email: <%= user.email %></p>

              <a href="/logout" class="btn btn-primary mt-2 w-75">Logout</a>
              <a href="javascript:history.back()" class="btn btn-secondary mt-3 w-75">Back</a>
          </div>

          <!-- <div class="mt-5">
            <h2>Add a pet</h2>
            <form action="/pet/createPet" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="animal" class="form-label">Type of pet</label>
                  <select id="animal" class="form-control" name="animal">
                    <option>dog</option>
                    <option>cat</option>
                    
                  </select>
              </div>
              <div class="mb-3">
                  <label for="name" class="form-label">Pet name</label>
                  <input type="text" class="form-control" id="name" name="name">
              </div>
              <div class="mb-3">
                <label for="breed" class="form-label">Breed</label>
                <textarea class="form-control" id="breed" name="breed"></textarea>
              </div>
              <div class="mb-3">
                <label for="color" class="form-label">Color</label>
                <input type="text" class="form-control" id="color" name="color">
              </div>
              <div class="mb-3">
                <label for="size" class="form-label">Size</label>
                <input type="text" class="form-control" id="size" name="size">
              </div>
              <div class="mb-3">
                <label for="dob" class="form-label">Date of birth (MMDDYYYY)</label>
                <input type="number" class="form-control" id="dob" name="dob">
            </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div> -->
      </div>
      <div class="col-8" >
        <ul class="row list-unstyled">
        <% for(let i=0; i<pets.length; i++) { %>
          <li class="col-8 justify-content-between mt-5">
            <a href="/pet/<%= pets[i]._id%>">
              <img class="img-fluid" src="<%= pets[i].image%>">
              <caption><%= pets[i].name %></caption>
            </a>
            
          </li>
        <% } %>
        <li>
          <div class="pet row">
            <a href="/pets/createPet" alt="add a pet" class="pet col-4">+</a>
          </div>
          
        </li>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>