<%- include('partials/header') -%>
<div class="container">
  <!-- <div class="row mt-5" >
      <div class="col-4">
          <div class="login d-flex flex-column mt-3 justify-content-center p-1">
              <p>Name: <%= user.userName %></p>
              <p>Email: <%= user.email %></p>

              <a href="/logout" class="btn btn-primary mt-2 w-75">Logout</a>
              <a href="javascript:history.back()" class="btn btn-secondary mt-3 w-75">Back</a>
          </div>
      </div> -->
      <div class="container">
        <ul class="row list-unstyled">
        <% for(let i=0; i<pets.length; i++) { %>
          <li class="col-sm-6  col-md-4 justify-content-between mt-5">
            <a href="/pet/<%= pets[i]._id%>">
              <img class="img-fluid mx-auto d-block" src="<%= pets[i].image%>">
              <ul class="row list-unstyled">
                <li class="center col-12 text-center">
                  <caption><%= pets[i].name %></caption>
                </li>
              </ul>
            </a>
          </li>
        <% } %>
          <li class="col-sm-6  col-md-4 col-8 justify-content-between mt-5 text-center">
            <a href="/addPet" alt="add a pet" class="col-4">
              <i class="pet fa-regular fa-plus"></i>
              <ul class="row list-unstyled">
                <li class="center col-12 text-center">
                  <caption>Add pet</caption>
                </li>
              </ul>
            </a>
          </li>
        </ul>
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>